.page-content {

  --padding-top: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  --background: var(--ion-color-light);
}

.input-item {
  --padding-start: 0px;
  --background: var(--ion-color-light);
}

.skip-login {
  text-align: right;
  color: white;
  a {
    text-decoration: none;
    color:white;
  }
  ion-button{
    color: white;
  }
  .ion-color-warning{
    color: white;
  }
}

.sign-up {
  text-align: right;
  margin-top: 40px;

  a {
    text-decoration: none;
  }
}

.login-form {
  margin-top: 50px
}

.login-button {
  margin-top: 30px;
}

.error-message {
  color: var(--ion-color-danger);
}

.submit-btn {
  margin-top: 60px;
}

img{
  flex-direction: column;
  align-items: center;
}
